<div id="appCard" class="card-main">
    <div #card class="card-wrap"
        (mousemove)="handleMouseMove($event)"
        (mouseenter)="handleMouseEnter()"
        (mouseleave)="handleMouseLeave()"
        ref="card">
        <div class="card"
        [style.transform]="cardStyle()">
            <div class="card-bg" [style.transform]="cardBgTransform()" [style.background-image]="cardBgImage()"></div>
            <div class="card-info">
                <img class="logo-Image" id="teamHome" src={{this.teamHomeLogo}}>
                <p>VS</p>
                <img class="logo-Image" id="teamAway" src={{this.teamAwayLogo}}>
            </div>
        </div>
    </div>
</div>