<div id="app" class="container" style="display: flex;">
  <app-match-card data-image="src/assets/carousel/chelsea.jpg">
    <h1 slot="header">Canyons</h1>
    <p slot="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </app-match-card>
  <app-match-card data-image="src/assets/carousel/lewa.jpg">
    <h1 slot="header">Beaches</h1>
    <p slot="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </app-match-card>
  <app-match-card data-image="src/assets/carousel/chelsea.jpg">
    <h1 slot="header">Trees</h1>
    <p slot="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </app-match-card>
  <app-match-card data-image="src/assets/carousel/lewa.jpg">
    <h1 slot="header">Lakes</h1>
    <p slot="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </app-match-card>
</div>