<div class="body" style="margin-top: 30rem;">
    <app-slider *ngIf="nbaGames" title="NBA" [basketGames]="nbaGames" [sliderConfig]="sliderConfig"></app-slider>
    <app-slider *ngIf="euroLeagueGames" title="Euroleague" [basketGames]="euroLeagueGames" [sliderConfig]="sliderConfig"></app-slider>
    <app-slider *ngIf="nbbGames" title="NBB" [basketGames]="nbbGames" [sliderConfig]="sliderConfig"></app-slider>
    <app-slider *ngIf="acbGames" title="ACB" [basketGames]="acbGames" [sliderConfig]="sliderConfig"></app-slider>
</div>