<h2>{{title}}</h2>

<div class="game">
  <div class="game__images">
    <div class="thumbnails">
      <ngx-slick-carousel [config]="sliderConfig" class="carousel">
        <div class="slick-item" *ngFor="let game of basketGames.response" ngxSlickItem>
          <div class="court" style="background-image: url(https://image.freepik.com/free-vector/basketball-court-floor-with-line-pattern-wood-background_64749-1760.jpg)">
            <!-- <p *ngIf="game">{{game.teams!.home!.name}}</p> -->
            <!-- <img class="backgroundCourt" src="https://image.freepik.com/free-vector/basketball-court-floor-with-line-pattern-wood-background_64749-1760.jpg" alt=""> -->
            <img src="{{game.teams!.home!.logo}}" alt="{{game.teams!.home!.logo}}" class="imageLogo" id="teamHome">
            <img src="{{game.teams!.away!.logo}}" alt="{{game.teams!.away!.logo}}" class="imageLogo" id="teamAway">
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>
