<div #card class="card-wrap"
    (mousemove)="handleMouseMove($event)"
    (mouseenter)="handleMouseEnter()"
    (mouseleave)="handleMouseLeave()"
    >
    <div class="card">
        <div class="card-bg" 
            [style.transform]="cardStyle()"
            [style.background-image]="cardBgImage()"
            [style.transform]="cardBgTransform()">
        </div>
        <div class="card-info">
        <slot name="header"></slot>
        <slot name="content"></slot>
        </div>
    </div>
</div>