<div id="appCard" style="width: 33%;">
    <div #card class="card-wrap"
        (mousemove)="handleMouseMove($event)"
        (mouseenter)="handleMouseEnter()"
        (mouseleave)="handleMouseLeave()"
        ref="card">
        <div class="card"
        [style.transform]="cardStyle()">
            <div class="card-bg" 
                [style.transform]="cardBgTransform()"
                [style.background-image]="cardBgImage()"
            >
            </div>
            <div class="card-info">
                <h1 slot="header">{{this.cardTitle}}</h1>
                <p slot="content">{{this.cardContent}}</p>
            </div>
        </div>
    </div>
</div>